<p>
  <app-teams [userName]="getUserName"></app-teams>
<div class="position-fixed bottom-0 start-0">
  <button type="button" (click)="goBack()" class="btn btn-secondary" [ngStyle]="{'margin': '10px'}">На главную</button>
</div>
<div class="position-fixed bottom-0 end-0">
  <button type="button" (click)="goBack()" class="btn btn-danger" [ngStyle]="{'margin': '10px 0px'}">Удалить игру</button>
  <button type="button" (click)="startGame()" class="btn btn-primary" [ngStyle]="{'margin': '10px'}">Начать игру</button>
</div>
