<div class="horizontal">
  <div class="team" *ngFor="let team of teams | searchTeamPipe: [searchTeam, soughtTeam]" (click)="team.players.length != 4 && openEditCountryDialog(team)">
    <div class="country">{{team.country.name}}</div>
    <div class="players">
      <ul style="list-style-type:none">
        <li *ngFor="let player of team.players" [ngStyle]="{'color': (userName == player) ? 'red' : 'black'}">{{player}}</li>
      </ul>
    </div>
  </div>
  <button *ngIf="!isAddTeam && !country" mat-button class="addTeam" (click)="openAddTeamDialog()">+</button>
</div>

