<h1>МИРОВОЕ ГОСПОДСТВО</h1>
<div
  [ngStyle]="{'background-color': 'rgba(0, 0, 0, 0.6)', 'border-radius': '30px', 'max-width': '70%', 'margin': '0px auto'}">
  <p [ngStyle]="{'padding' : '20px 10px 0px 10px'}">Представь, что ты и твои друзья — группа влиятельных политиков. Под
    рукой красная кнопка и арсенал ядерных
    боеголовок, готовых по приказу стереть с лица земли города противников. По ту сторону экрана — правительства других
    стран. Это может быть команда друзей или люди, которых вы видите впервые. Чего ждать? Мирного сотрудничества или
    вероломного нападения? Щедрых инвестиций или подлых экономических санкций? Доверять нельзя никому. Победный статус
    сверхдержавы достанется только одной команде!</p>
  <p>
    До последнего отстаивать мирные принципы или устроить ядерный апокалипсис на планете? Решение за тобой. В этой игре
    можно все: вступать в переговоры, торговаться, блефовать и плести интриги или отгородиться железным занавесом и
    тайком
    от всех ковать орудие возмездия. Захватывающий микс из классической «Мафии» и пошаговой политической стратегии
    понравится и тем, кто пришел за фаном, и любителям выстраивать хитрые многоходовочки.</p>
  <div class="d-flex justify-content-center">
    <button type="button" (click)="createGame('createGame')" class="btn btn-primary">Создать игру!</button>
    <button type="button" (click)="createGame('createGame')" class="btn btn-secondary ">Правила игры</button>
  </div>
</div>
